@tailwind base;
@tailwind components;
@tailwind utilities;
.cimnev{
    position: relative; top:70px;
}
.eltol{
    background-color: black;
}
.szovegketto{
    padding-bottom: auto;
    background-image: linear-gradient(to right,grey,white);
    padding-bottom: 25px;
}
.szoveg{
    margin-bottom: auto;
 background-image: linear-gradient(to right,black,grey);
}
.gazdasagcim{
    padding-bottom: 50px;
}
.video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  .ketto{
    width: 1080px;
  }
  .egyik{
    width: 1000px;
    animation-name: csusz;
    animation-duration: 3s;
  }
  .jani{
    margin-bottom: 30px;
    margin-top: 100px;
    /* padding-bottom: 55px; */
  }
  .pisti{
    margin-bottom: 30px;
    margin-top: 100px;
  }
  .gazdasagszoveg{
    background-color: black;
  }
.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes slideInLeft{
    from{
        transform: translateX(-1000px);
    }
    to{
        transform: translateX(0);
    }
}
.slideInLeft{
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
}
@keyframes slideInRight{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
}
.slideInRight{
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}