<div class="cimnev text-center font-bold text-7xl text-black">TheVR</div>
<div class="eltol text-center font-bold text-7xl text-white">TheVR</div>
<div class="row">
    <div class="col">
        <div class="pisti text-slate-300 text-3xl text-center ">A TheVR Története:</div>
        <div class="szoveg text-white text-center">A TheVR története 2013-ig nyúlik vissza, 
            amikor két debreceni fiatal, Fábián István és Komzsik János elhatározta 
            hogy egy tech-portált indítanak. Speciális témájuknak a Magyarországon még 
            éppen csak megjelenő virtuális valóságot (röviden VR) választották, amelyet 
            ekkor még nem dolgozott föl részleteiben a hazai szaksajtó. Első videóikban 
            VR eszközök technikai paramétereit és jellegzetességeit mutatták be, miután 
            pedig kifogytak a témából, horror játékokat kezdtek el játszani az eszközzel. 
            Ezek a gyorsan népszerűvé váló VR gameplay videók hozták el számukra az ismertséget,
            a nem sokkal később a Cat Mario elnevezésű rage-game-ről 
            (szándékosan idegesítő játék) készült videóikkal pedig már több milliós 
            nézettséget értek el, amelyeken Fábián István (Pisti) válogatott káromkodásokkal 
            tűzdelve játszott a játékkal.
            Az első videók nézőiből hamar stabil követőbázis állt össze. A TheVR idővel 
            számos újabb, témaspecifikus YouTube csatornát is létrehozott. A magyarországi 
            cégek az Egyesült Államok vállalataihoz képest később vették csak észre a 
            youtuberekben rejlő üzleti lehetőséget, így 2016-ban a TheVR párosa még nem tudott
            biztos egzisztenciát alapozni a videózásra még 360 ezer feliratkozóval sem. 
            Ekkoriban legtöbb bevételük a termékbemutató és tesztelő videóikból származott. 
            A játékvideók mellett állandók maradtak a technikai újdonságokkal foglalkozó tartalmak is.
            2017-ben a TheVR fő csatornája Dancsó Péter és a PamKutya után a magyar youtuberek 
            közül harmadikként átlépte az 500 ezer feliratkozó határt. Ekkoriban kezdte el 
            megváltoztatni a gameplay-videókkal kapcsolatos szabályait is a YouTube, 
            kiszámíthatatlan környezetet teremtve, emiatt a TheVR tartalmainak egy 
            jelentős részét átköltöztette az élő közvetítésre specializálódott Twitch platformra, 
            de emellett megtartották YouTube-csatornájukat is. 2017-re már saját bevallásuk 
            szerint stabil üzleti alapot tudtak kialakítani karrierjükkel.
            A csatornát 2020-ban letiltotta a Twitch, azt követően, hogy az Apple egy jogvédett
            termékbemutatójáról élőztek. Nem sokkal később sikeresen visszakapták a 
            csatornájukat a platformon. 2021-ben megjelentek a TikTok-on is, hamar nagy 
            követőtábort szerezve, követőik száma 2024 októberében már meghaladta a 400 ezret.
            Nagy sikert aratott néhány naponta megjelenő podcast-sorozatuk, a Happy Hour is.
             Emellett saját márkás ajándékboltot és alkalmazást is létrehoztak.
            A TheVR tartalmai szándékosan politikamentesek, 2024-ben azonban összeütközésbe 
            kerültek a Megafon Központ csapatához tartozó fideszes véleményvezérrel, 
            Deák Dániellel, aki a megkérdezésük nélkül használta fel egyik videójuk részletét. 
            Deák azzal védekezett, hogy egy mém-videóhoz használta fel a kérdéses részletet és 
            így nem vonatkozik rá jogvédettség, de végül eltávolította a videót.
        </div>
        <div>
            <img class="pistikepe" src="https://thevr.hu/wp-content/uploads/2023/01/Screenshot-2023-01-11-at-15.18.38.png" alt="Pisti">
        </div>
    </div>
    <div class="col">
        <div class="jani text-slate-300 text-3xl text-center">The TheVR Story:</div>
        <div class="szovegketto text-white text-center">The story of TheVR dates back to 2013, when two young men from Debrecen, István Fábián and János Komzsik, decided to launch a tech portal. They chose virtual reality (VR)—a technology just starting to emerge in Hungary—as their niche, which at the time had not been thoroughly covered by the local tech media. Their first videos showcased the technical parameters and features of VR devices. Once they exhausted this topic, they began playing horror games using VR, which quickly gained popularity and brought them recognition. Shortly afterward, their videos featuring the rage-inducing game Cat Mario—in which István Fábián (Pisti) played with a stream of colorful expletives—achieved millions of views. This early audience soon evolved into a loyal fanbase.
            Over time, TheVR created several additional, topic-specific YouTube channels. Hungarian companies were slower than their U.S. counterparts to recognize the business potential of YouTubers, and in 2016, despite having 360,000 subscribers, TheVR could not yet build a secure livelihood from their content. At that time, most of their income came from product review and testing videos. Alongside gaming videos, their content on tech innovations remained a constant.
            In 2017, TheVR's main channel became the third Hungarian YouTube channel, after Péter Dancsó and PamKutya, to surpass 500,000 subscribers. Around this time, YouTube began changing its rules regarding gameplay videos, creating an unpredictable environment. In response, TheVR shifted a significant portion of their content to Twitch, a platform specializing in live streams, while still maintaining their YouTube presence. By 2017, they claimed to have established a stable business foundation for their career.
            In 2020, Twitch banned their channel after they live-streamed a copyrighted Apple product launch. However, they successfully regained their channel on the platform shortly afterward. In 2021, TheVR expanded to TikTok, quickly amassing a large following, which surpassed 400,000 by October 2024. Their podcast series Happy Hour, released every few days, also became highly successful. Additionally, they launched their own branded gift shop and mobile app.
            TheVR’s content is intentionally apolitical. However, in 2024, they clashed with pro-government influencer Dániel Deák, a member of the Megafon Center team, who used a clip from one of their videos without permission. Deák defended his actions, claiming the clip was used in a meme video and thus did not fall under copyright, but he ultimately removed the video.</div>
        <div>
            <img class="janikep" src="https://thevr.hu/wp-content/uploads/2023/01/Screenshot-2023-01-11-at-15.18.16.png" alt="Jani">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <div class="gazdasagcim text-center text-5xl text-white">A gazdasági háttét:</div>
        <div class="gazdasagszoveg text-center text-white">
            A Forbes elemzése szerint a TheVR tartalomgyártó párosa a saját 
            műfajában egyedülálló céget hozott létre Magyarországon, amely önmagában 
            kisebbfajta médiabirodalomként működik. Formálisan Pisti a vezérigazgató, 
            Jani pedig a produkciós menedzser, 2022-ben már két beosztottal dolgoztak együtt.
            Működésük helyszíne végig Debrecen maradt, azonban többször költöztek új stúdióba,
            a legújabb már 230 m²-es. Árbevételük 2021-ben lépte át először a 100 millió 
            forintot. 2021-ben egy hackertámadás következtében nyilvánosságra került, 
            hogy 26 hónap alatt 80-84 millió forint bevételük származott a Twitch-ről.
            2023-ban 311,8 millió forintos árbevétellel zárták az évet, a 154 millió forint 
            profitból 28 millió forint osztalékot vettek ki
        </div>
        <div class="gazdasagcim text-center text-5xl text-white">Financial background:</div>
        <div class="gazdasagszoveg text-center text-white">
        
According to a Forbes analysis, the TheVR content creator duo has established a unique company in Hungary within their genre, functioning as a small-scale media empire. Formally, Pisti serves as the CEO, while Jani is the production manager, and by 2022, they were working with two employees. Their operations have always been based in Debrecen, although they have moved to new studios multiple times, with their latest one spanning 230 m².

Their revenue surpassed 100 million HUF for the first time in 2021. That same year, a hacker attack revealed that they had earned 80–84 million HUF from Twitch over a 26-month period. In 2023, they closed the year with a revenue of 311.8 million HUF, out of which 154 million HUF was profit, and they withdrew 28 million HUF as dividends.
        </div>
    </div>
    <div class="col-sm"></div>
  </div>



















