@tailwind base;
@tailwind components;
@tailwind utilities;


.cimnev{
    position: relative; top:70px;
}
.eltol{
    padding-bottom: 150px;
}
/*.pisti{
    padding-left: 300px;
    padding-top: 150px;
}*/
.janikep{
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.szovegketto{
    padding-bottom: 50px;
}
.pistikepe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 600px;
}
.szoveg{
    margin-bottom: 100px;
}
.gazdasagcim{
    padding-bottom: 50px;
}
.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }