@tailwind base;
@tailwind components;
@tailwind utilities;
.cimnev{
    position: relative; top:70px;
}
.eltol{
    padding-bottom: 100px;
}
.szovegketto{
    padding-bottom: auto;
}
.szoveg{
    margin-bottom: auto;
}
.gazdasagcim{
    padding-bottom: 50px;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }
  .ketto{
    width: 1080px;
    margin-top: 50px;
  }
  .egyik{
    width: 1000px;
  }
  .jani{
    margin-bottom: 30px;
  }
  .pisti{
    margin-bottom: 30px;
  }